@model List<MVCSchooldbDemo.Models.Data.RoleInfo>
@{
    Layout = null;
}
<table id="gridRole" style="height: 100%"></table>
<div id="tbRole">
    <table class="searchTable">
        <tr>
            <td>角色名</td>
            <td>
                <select id="Role_SearchRole" class="easyui-combobox" style="width: 100px"></select>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-search fa-16px" onclick="Search()">搜索</a>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-times-circle-o fa-16px" onclick="ClearSearch()">清空搜索条件</a>
            </td>
        </tr>
    </table>
    <table class="buttonsTable">
        <tr>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-plus-square fa-16px" onclick="Add('#editorRole', '@Url.Action("Create", "Role")', '添加角色')">
                添加
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-pencil-square fa-16px" onclick="Edit('#gridRole',    '#editorRole',    '@Url.Action("Edit", "Role")',
    '修改角色')">
                编辑
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-trash fa-16px" onclick="Delete('#gridRole', '@Url.Action("Delete", "Role")')">
                删除
            </a>
        </td>
    </table>
</div>
<div id="editorRole" style="display: none; height: 450px; width: 500px;"></div>
<script>
    var columns = [
        [
            {
                field: 'Id',
                title: 'ID',
                width: 100,
                hidden: true
            },
            {
                field: 'Name',
                title: '角色名称',
                width: 100,
                sortable: true
            }
        ]
    ];

    var gridTitle = '角色';
    var gridSortName = 'Id';
    var gridSortOrder = 'asc';
    var url = '@Url.Action("GetList", "Role")';

    $(function() {
        BindGrid('#gridRole', '#tbRole', url, columns, gridTitle, gridSortName, gridSortOrder, {});

        BindCombobox('#Role_SearchRole',
            '@Url.Action("GetAllRoles", "Role")',
            'Id',
            'Name',
            '全部类型');
    });

    function Search() {
        const queryData = {
            Name: ($('#Role_SearchRole').combobox('getText') === 'ALL') ? '' : $('#Role_SearchRole').combobox('getText')
        };

        BindGrid('#gridRole',
            '#tbRole',
            url,
            columns,
            gridTitle,
            gridSortName,
            gridSortOrder,
            { queryParasString: JSON.stringify(queryData) });
    }

    function ClearSearch() {
        $('#Role_SearchRole').combobox('select', 0);

        BindGrid('#gridRole',
            '#tbRole',
            url,
            columns,
            gridTitle,
            gridSortName,
            gridSortOrder,
            {});
    }
</script>