@model List<MVCSchooldbDemo.Models.Data.StudentInfo>
@{
    Layout = null;
}


<table id="gridUser" style="height: 100%"></table>
<div id="tbUser">
    <table class="searchTable">
        <tr>
            <td>账号</td>
            <td>
                <input id="User_SearchAccount" class="easyui-textbox" style="width: 110px">
            </td>
            <td>全名</td>
            <td>
                <input id="User_SearchFullName" class="easyui-textbox" style="width: 110px">
            </td>
            <td>类别</td>
            <td>
                <select id="User_SearchRole" class="easyui-combobox" style="width: 100px">
                </select>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-search fa-16px" onclick="Search()">搜索</a>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-times-circle-o fa-16px" onclick="ClearSearch()">清空搜索条件</a>
            </td>
        </tr>
    </table>
    <table class="buttonsTable">
        <tr>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-plus-square fa-16px fa-fw" onclick="Add('#editorUser', '@Url.Action("Create", "User")', '添加用户');">
                添加
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-trash fa-16px" onclick="Edit('#gridUser', '#editorUser', '@Url.Action("Edit", "User")', '修改用户记录')">
                编辑
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-list-alt fa-16px" onclick="Delete('#gridUser', '@Url.Action("Delete", "User")')">
                删除
            </a>
        </td>
    </table>
</div>
<div id="editorUser" style="display: none; height: 450px; width: 500px"></div>
<script>
    var url = '@Url.Action("List", "User")';
    var columns = [
        [
            {
                field: 'Id',
                title: 'ID',
                width: 100,
                sortable: true,
                hidden: true
            },
            {
                field: 'Account',
                title: '账户',
                width: 100,
                sortable: true
            },
            {
                field: 'FullName',
                title: '全名',
                width: 100,
                sortable: true
            },
            {
                field: 'RoleName',
                title: '类别',
                width: 100,
                sortable: true
            }
        ]
    ];

    var gridTitle = '用户记录';
    var gridSortName = 'Id';
    var gridSortOrder = 'asc';


    $(function() {
        BindGrid('#gridUser', '#tbUser', url, columns, gridTitle, gridSortName, gridSortOrder, {});

        BindCombobox('#User_SearchRole',
            '@Url.Action("GetAllRoles", "Role")',
            null,
            'Id',
            'Name',
            '全部类型');
    }); //Show all records

    function Search() {
        const queryData = {
            Account: $('#User_SearchAccount').textbox('getText'),
            FullName: $('#User_SearchFullName').textbox('getText'),
//            Role: ($('#SearchRole').combobox('getText') === 'ALL') ? '' : $('#SearchSdept').combobox('getText')
        };

        BindGrid('#gridUser',
            '#tbUser',
            url,
            columns,
            gridTitle,
            gridSortName,
            gridSortOrder,
            { queryParasString: JSON.stringify(queryData) });
    }

    function ClearSearch() {
        $('#User_SearchAccount').textbox('clear');
        $('#User_SearchFullName').textbox('clear');

        const data = $('#SearchRole').combobox('getData');
        $('#User_SearchRole').combobox('select', data[0]["text"]);

        BindGrid('#gridUser', '#tbUser', url, columns, gridTitle, gridSortName, gridSortOrder, {});
    }


</script>