@model List<MVCSchooldbDemo.Models.Data.DataDictItemInfo>
@{
    Layout = null;
}

<table id="gridDataDictItem" style="height: 100%"></table>
<div id="tbDataDictItem">
    <table class="searchTable">
        <tr>
            <td>项目名</td>
            <td>
                <input id="DataDictItem_Search_项目名" class="easyui-textbox" style="width: 100px">
            </td>
            <td>项目值</td>
            <td>
                <input id="DataDictItem_Search_项目值" class="easyui-textbox" style="width: 100px">
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-search fa-16px" onclick="Search()">搜索</a>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-times-circle-o fa-16px" onclick="ClearSearch()">清空搜索条件</a>
            </td>
        </tr>
    </table>
    <table class="buttonsTable">
        <tr>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-plus-square fa-16px fa-fw" onclick="Add('#editorDataDictItem', '@Url.Action("Create", "DataDictItem")', '添加数据字典项目')">
                添加
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-pencil-square fa-16px" onclick="Edit('#gridDataDictItem', '#editorDataDictItem', '@Url.Action("Edit", "DataDictItem")', '编辑数据字典项目')">
                编辑
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-trash fa-16px" onclick="Delete('#gridDataDictItem', '@Url.Action("Delete", "DataDictItem")')">
                删除
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="fa fa-list-alt fa-16px" onclick="Details('#gridDataDictItem', '#editorDataDictItem', '@Url.Action("Details", "DataDictItem")', '数据字典项目明细')">
                详细
            </a>
        </td>
    </table>
</div>
<div id="editorDataDictItem" style="display: none; height: 450px; width: 550px;overflow: scroll;"></div>
<script>
    var columns = [
        [
            {
                field: 'Id',
                title: 'ID',
                width: 100,
                hidden: true
            },
            {
                field: '项目名',
                title: '项目名',
                width: 100,
                sortable: true
            },
            {
                field: '项目值',
                title: '项目值',
                width: 100,
                sortable: true
            }
        ]
    ];

    var gridTitle = '数据字典项目';
    var gridSortName = 'Id';
    var gridSortOrder = 'asc';
    var url = '@Url.Action("List", "DataDictItem")';

    $(function() {
        BindGrid('#gridDataDictItem', '#tbDataDictItem', url, columns, gridTitle, gridSortName, gridSortOrder, {});
    });

    function Search() {
        const queryData = {
            项目名: $('#DataDictItem_Search_项目名').textbox('getText'),
            项目值: $('#DataDictItem_Search_项目值').textbox('getText')
        };

        BindGrid('#gridDataDictItem',
            '#tbDataDictItem',
            url,
            columns,
            gridTitle,
            gridSortName,
            gridSortOrder,
            { queryParasString: JSON.stringify(queryData) });
    }

    function ClearSearch() {
        $('#DataDictItem_Search_项目名').textbox('clear');
        $('#DataDictItem_Search_项目值').textbox('clear');

        BindGrid('#gridDataDictItem',
            '#tbDataDictItem',
            url,
            columns,
            gridTitle,
            gridSortName,
            gridSortOrder,
            {});
    }
</script>