@using MVCSchooldbDemo.Common
@model MVCSchooldbDemo.Models.Data.StudentInfo

<div class="dialogTitle">@ViewBag.DialogTitle</div>
<form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="editorTable">
        <tr>
            <td class="editorNameColumn" style="width: 100px">学号:</td>
            <td>
                <input id="Sno" class="easyui-textbox"/>
            </td>
        </tr>
        <tr>
            <td class="editorNameColumn">姓名：</td>
            <td>
                <input id="Sname" class="easyui-textbox"/>
            </td>
        </tr>
        <tr>
            <td class="editorNameColumn">性别:</td>
            <td>
                <select id="Ssex" class="easyui-combobox" style="width: 100px">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="editorNameColumn">年龄:</td>
            <td>
                <input id="Sage" class="easyui-textbox"/>
            </td>
        </tr>
        <tr>
            <td class="editorNameColumn">系:</td>
            <td>
                <select id="Sdept" class="easyui-combobox" style="width: 100px">
                    <option value="CS">CS</option>
                    <option value="IS">IS</option>
                    <option value="MA">MA</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img id="Sphoto" src="#" style="width: 100px;"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span id="uploadify"></span>
            </td>
        </tr>
    </table>

</form>
<script>
    $(function() {
        window.InitUploadify("@Url.Action("UploadPhoto", "Student")",
            true,
            false,
            1,
            "*.*",
            "支持所有类型文件",
            function(file, data, response) {
                var fileInfo = JSON.parse(data);
                $('#Sphoto').attr('src', '../' + fileInfo.BaseDirectory + fileInfo.FileName);
            },
            function() {},
            function() {},
            {});
    });


    function GetData() {
        var photoFilePath = $('#Sphoto').attr('src');
        var photoFileName = photoFilePath.substr(photoFilePath.lastIndexOf('/') + 1);
        var photoGuid = photoFileName.substr(0, photoFileName.lastIndexOf('.'));

        return {
            Sno: $('#Sno').textbox('getText'),
            Sname: $('#Sname').textbox('getText'),
            Ssex: $('#Ssex').combobox('getText'),
            Sage: $('#Sage').textbox('getText'),
            Sdept: $('#Sdept').combobox('getText'),
            SphotoGuid: photoGuid
        };
    }


</script>

@if (Model != null)
{
    <script>
        $(function () { ShowData() ;});

        function ShowData() {
//            $.ajax({
//                type: "GET",
//                url: url,
//                success: function(data) {
//                    var s = JSON.parse(data);
//                    var item = s.Item;
//
            $('#Sno').textbox('setText', '@Model.Sno');
            $('#Sname').textbox('setText', '@Model.Sname');
            $('#Sage').textbox('setText', '@Model.Sage');
            $('#Ssex').combobox('setText', '@Model.Ssex');
            $('#Sdept').combobox('setText', '@Model.Sdept');


            @{
                var fileInfo = Model != null ? UploadFileHelper.GetFileInfoByGuid(Model.SphotoGuid) : null;
                var photoPath = fileInfo != null ? fileInfo.BaseDirectory + fileInfo.FileName : "#";
            }

            $('#Sphoto').attr('src', '../@photoPath');

        }
//                error: function() {
//                    Alert("错误", errorMsg, AlertType.Error);
//                },
//                dataType: "json"
//            });


    </script>
}