@model Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Delete</title>
</head>
<body>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ssex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ssex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdept)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
</body>
</html>