﻿@model MVCSchooldbDemo.Models.Data.StudentInfo
@{
    Layout = null;
}

<div class="editorLayout">
    @Html.Partial("~/Views/Student/_StudentEditor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForDetails.cshtml")
</div>

<script>
    $(function() {
        DisableControls('#Sno,#Sname,#Ssex,#Sage,#Sdept');

        $('#btnPrevious')
            .bind('click',
                function() {
                    if (@ViewBag.PreviousId == -1) {
                    } else {
                        var url = '@Url.Action("Details", "Student", new {Id = ViewBag.PreviousId})';

                        $("#editor").dialog("refresh", url);
                    }
                }
            );

        $('#btnNext')
            .bind('click',
                function() {
                      if (@ViewBag.NextId == -1) {
                    } else {
                        var url = '@Url.Action("Details", "Student", new {Id = ViewBag.NextId})';

                        $("#editor").dialog("refresh", url);
                    }
                }
            );
    });
</script>