@model MVCSchooldbDemo.Student

@{
    Layout = null;
}

<div style="padding: 10px 60px 20px 60px">
    <form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
        <table cellpadding="5">
            <tr>
                <td>学号:</td>
                <td>
                    <input id="Sno" class="easyui-textbox" type="text" name="Sno" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td>姓名:</td>
                <td>
                    <input id="Sname" class="easyui-textbox" type="text" name="Sname" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td>性别:</td>
                <td>
                    <select id="Ssex" class="easyui-combobox" name="Ssex" style="width: 100px">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>年龄:</td>
                <td>
                    <input id="Sage" class="easyui-textbox" name="Sage" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td>系:</td>
                <td>
                    <select id="Sdept" name="Sdept" class="easyui-combobox" style="width: 100px">
                        <option value="CS">CS</option>
                        <option value="IS">IS</option>
                        <option value="MA">MA</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
    <div style="text-align: center; padding: 5px">
        <a id="btnOK" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="submitForm();" style="width: 90px">
            修改
        </a>
        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="closeDialog();" style="width: 90px">取消</a>
    </div>
</div>

<script>
    $(function () { showInfo(); });

    function showInfo() {
        $('#Sno').val('@Model.Sno');
        $('#Sname').val('@Model.Sname');
        $('#Ssex').val('@Model.Ssex');
        $('#Sage').val('@Model.Sage');
        $('#Sdept').val('@Model.Sdept');
    }

    function submitForm() {
        //       var url = '@Url.Action("Edit", "Student")' + '/' + id;
        var url = '@Url.Action("Edit", "Student")';

        $('#ff')
            .form('submit',
            {
                url: url,
                onSubmit: function () {
                    return $(this).form('enableValidation').form('validate');
                },
                success: function () {
                    closeDialog();
                    refreshGrid();
                },
                error: function () {
                    $.messager.alert('错误', '修改学生记录遇到问题！', 'error');
                }
            });
    }



    function closeDialog() {
        $('#editDialog').dialog('close');

    }

    function refreshGrid() {
        $('#dg').datagrid('reload');
    }
</script>