@model List<MVCSchooldbDemo.Models.Data.StudentInfo>
@{
    Layout = null;
}

<table id="gridStudent" style="height: 100%"></table>
<div id="tbStudent">
    <table class="searchTable">
        <tr>
            <td>学号</td>
            <td>
                <input id="SearchSno" class="easyui-textbox" style="width: 110px">
            </td>
            <td>性别</td>
            <td>
                <input id="SearchSsex" class="easyui-textbox" style="width: 110px">
            </td>
            <td>系</td>
            <td>
                <select id="SearchSdept" class="easyui-combobox" style="width: 100px">
                    <option value="ALL">ALL</option>
                    <option value="MA">MA</option>
                    <option value="CS">CS</option>
                    <option value="IS">IS</option>
                </select>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="Search()">搜索</a>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-no" onclick="ClearSearch()">清空搜索条件</a>
            </td>
        </tr>
    </table>
    <table class="buttonsTable">
        <tr>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" onclick="Add('#editorStudent', '@Url.Action("Create", "Student")', '添加学生记录')">
                添加
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" onclick="Edit('#gridStudent', '#editorStudent', '@Url.Action("Edit", "Student")', '编辑')">
                编辑
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" onclick="Delete('#gridStudent', '@Url.Action("Delete", "Student")')">
                删除
            </a>
        </td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-no" onclick="Details('#gridStudent', '#editorStudent', '@Url.Action("Details", "Student")', '明细')">
                明细
            </a>
        </td>
    </table>
</div>
<div id="editorStudent" class="editorContainer" style="width: 850px;"></div>
<script>
    var columns = [
        [
            {
                field: 'Id',
                title: 'ID',
                width: 100,
                hidden: true
            },
            {
                field: 'Sno',
                title: '学号',
                width: 100,
                sortable: true
            },
            {
                field: 'Sname',
                title: '姓名',
                width: 100,
                sortable: true
            },
            {
                field: 'Ssex',
                title: '性别',
                width: 100,
                sortable: true
            },
            {
                field: 'Sage',
                title: '年龄',
                width: 100,
                sortable: true
            },
            {
                field: 'Sdept',
                title: '系',
                width: 100,
                sortable: true
            }
        ]
    ];

    var gridTitle = '学生记录';
    var gridSortName = 'Id';
    var gridSortOrder = 'asc';
    var url = '@Url.Action("List", "Student")';

    $(function() {
        BindGrid('#gridStudent', '#tbStudent', url, columns, gridTitle, gridSortName, gridSortOrder, {});
    }); //Show all records

    function Search() {
        const queryData = {
            Sno: $('#SearchSno').textbox('getText'),
            Ssex: $('#SearchSsex').textbox('getText'),
            Sdept: ($('#SearchSdept').textbox('getText') === 'ALL') ? '' : $('#SearchSdept').textbox('getText')
        };

        BindGrid('#gridStudent',
            '#tbStudent',
            url,
            columns,
            gridTitle,
            gridSortName,
            gridSortOrder,
            { queryParasString: JSON.stringify(queryData) });
    }

    function ClearSearch() {
        $('#SearchSno').textbox('clear');
        $('#SearchSsex').textbox('clear');

        const data = $('#SearchSdept').combobox('getData');
        $('#SearchSdept').combobox('select', data[0]["text"]);

        BindGrid('#gridStudent',
            '#tbStudent',
            url,
            columns,
            gridTitle,
            gridSortName,
            gridSortOrder,
            {});
    }
</script>