@model List<Student>
@{
    Layout = null;
}
<script>
    var url = '@Url.Action("GetResult", "Student")';
    var columns = [
        [
            {
                field: 'Sno',
                title: '学号',
                width: 100,
                sortable: true
            },
            {
                field: 'Sname',
                title: '姓名',
                width: 100,
                sortable: true
            },
            {
                field: 'Ssex',
                title: '性别',
                width: 100,
                sortable: true
            },
            {
                field: 'Sage',
                title: '年龄',
                width: 100,
                sortable: true
            },
            {
                field: 'Sdept',
                title: '系',
                width: 100,
                sortable: true
            }
        ]
    ];

    var gridTitle = '学生记录';
    var gridSortName = 'Sno';

    //when page is loaded
    $(function () {
        BindGrid(url, columns, gridTitle, gridSortName, {}); //Show all records
    });

    function Delete() {
        var url = '@Url.Action("Delete", "Student")';
        DeleteRecord(url, '确认删除学生记录吗？', 'Sno');
    }

    function Add() {
        var url = '@Url.Action("Create", "Student")';

        ShowEditor(url, '添加学生记录');
    }

    function Edit() {
        var row = $('#grid').datagrid('getSelected');
        var id = row.Id;
        var url = '@Url.Action("Edit", "Student")' + '/' + id;

        ShowEditor(url, "修改学生记录");
    }

    function Details() {
        var row = $('#grid').datagrid('getSelected');
        var id = row.Id;
        var url = '@Url.Action("Details", "Student")' + '/' + id;

        ShowEditor(url, "显示学生详细信息");
    }

    function Search() {
        var queryData = {
            Sno: $('#SearchSno').textbox('getText'),
            Ssex: $('#SearchSsex').textbox('getText'),
            Sdept: ($('#SearchSdept').textbox('getText') === 'ALL') ? '' : $('#SearchSdept').textbox('getText')
        };

        BindGrid(url, columns, gridTitle, gridSortName, queryData);
    }

    function ClearSearch() {
        var queryData = {
        };

        BindGrid(url, columns, gridTitle, gridSortName, queryData);

        $('#SearchSno').textbox('clear');
        $('#SearchSsex').textbox('clear');
        $('#SearchSdept').textbox('clear');
    }

</script>
<table id="grid"></table>
<div id="tb" style="padding: 2px 5px;">
    <div>
        学号 <input id="SearchSno" class="easyui-textbox" style="width: 110px">
        性别 <input id="SearchSsex" class="easyui-textbox" style="width: 110px">
        系
        <select id="SearchSdept" class="easyui-combobox" style="width: 100px">
            <option value="ALL">ALL</option>
            <option value="MA">MA</option>
            <option value="CS">CS</option>
            <option value="IS">IS</option>
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="Search()">搜索</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-no" onclick="ClearSearch()">清空搜索条件</a>
    </div>
    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="Edit()">编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Delete()">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-no" plain="true" onclick="Details()">详细</a>
    </div>
</div>
<div id="editor"></div>
